@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    /*font-family: 'Open Sans';*/
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

body{
    min-width: 360px;
    margin: 0;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 35px rgba(0, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
	}
}

/* ICONO DE LA PUERTA 

.filter-green{
    filter: invert(15%) sepia(89%) saturate(7107%) hue-rotate(3deg) brightness(95%) contrast(116%);

}
*/

img{


    /* padding: 14px 16px; */
    /* font-size: 49px; */
    display: block;
    /* margin-right: 28%; */
    top: .6em;
    right: 13em;
    /* margin: 20% 24% 0 0; */
    position: absolute;
    color: white;
    text-align: center;

}

#lavar{

    /* font-size: 49px; */
    /* display: flex; */
    /* margin-right: 28%; */
    /* margin: 20% 24% 0 0; */
    position: relative;
    display: flex;
    /* color: white; */
    /* text-align: center; */
    /* margin: auto; */
    /* margin: auto; */
    right: .5em;
    top: -9px;
    filter: invert(41%) sepia(93%) saturate(4853%) hue-rotate(199deg) brightness(106%) contrast(104%);


    /* padding: 10px; */
    /* width: 38%; */
    /* padding-right: 0px;*/


}

.navbar{


    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;

}

.navbar li{

    float: left;

}

#hora{


    margin-right: -2.3em;

}

#lavarScreen{


    position: absolute;
    top: 10%;
    width: 50%;
    right: 8%;    display: block;

}


#lavarOpciones{

    display: flex;
    opacity: 0;
    height: 0;
    justify-content: center;

}

#secarOpciones{

    display: none;
    justify-content: center;

}


#spi{

      /* padding: 14px 16px; */
    /* font-size: 49px; */
    display: block;
    /* margin-right: 28%; */
    right: 17em;
    top: unset;
    /* margin: 20% 24% 0 0; */
    position: absolute;
    color: white;
    text-align: center;
}

#hora:hover{


    color: white;


}

.navbar li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;

}

.navbar li a:hover{

    color:yellow;

}


.center{
    /*margin: 140px auto;
    width: 50%;*/
    width: 95%;
    text-align: center;
    padding: 200px 0 0 0;
}

.options{

    display: flex;
    margin: auto;
    width: 25em;
    justify-content: space-between;
    margin-bottom: 50px;
}

.options p{

    margin-right: 10px;
    flex-wrap: nowrap;
    display: flex;

}

.options a{


    padding: 1.5em 5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
    text-decoration: none;
  /*  border-right: 1px solid grey;*/


}

.options a:hover{
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .options a:active{
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


/*CIRCULO CON PULSO*/

.blob {
    background: white;
    border-radius: 50%;
    border: 5px solid aqua;
    margin: auto;
    height: 350px;
    width: 350px;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.blob p{

  font-size: 35px;
  position: relative;
  top: 35px;
}

.fa.fa-arrow-up{

  padding-top: 0px;
}




/*LISTA FLECHAS*/
.container {
  margin: 0 2em;
  display: block;
  text-align: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  /* width: 50%;*/
}

.container i {
    padding: 30px;
    display: block;
    font-size: 35px;
    /*transition: all 0.4s ease;*/
}

.counter2,.counter3  {

  font-size: 25px;

}




.container i:hover {
  cursor: pointer;
}
/*
.counter {
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba( 0, 0, 0, 0.2 );
  color: #000;
}*/

#lavadoOpciones{
    display: flex;
}






  /*TRANSICION*/


  #inicio{
    position: relative;
    left: 0;
    transition: transform 2s;
   
  }

  /*FLECHAS*/

  .opciones{

    border-bottom: 1px solid grey;
    width: 85%;
    height: 74px;
    margin: auto;
    opacity: 0;
    /* margin-bottom: 10px; */
    /* padding-top: 0em;*/
}


  


  button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
  }
  
  .paginate {
    position: relative;
    margin: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: #007fff;
    -webkit-filter: drop-shadow(0 2px 0px rgba(0, 127, 255, 0.2));  }

#botonesRetardo{

  display: grid;
  grid-template-columns: repeat(2,150px);
  grid-gap:10px 10px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
  justify-content: center;
}



.botones{
  font-size: 18px;
  border: 4px solid rgb(6, 120, 250);
  border-radius: 10px;
  width: 150px;
  height: 50px;
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out;
}

.botones:hover{

  cursor: pointer;
  border: 4px solid rgb(6, 120, 250);
  background-color: rgb(6, 120, 250);
  color: white;
}

.green{
  border: 4px solid rgb(0, 206, 106);
  font-weight: 500;
}

.green:hover{

  cursor: pointer;
  border: 4px solid rgb(0, 206, 106);
  background-color: rgb(0, 206, 106);
  color: white;


}
    

#retardo{

    position: absolute;
    margin-left: 7.2em;

}



/*DETERGENTE Y SUAVIZANTE Y PESO*/

#peso{

  position: absolute;
  margin-left: 5em;


}
#peso b{

  position: absolute;
  left: 5em;


}

#pesoo{

  position: absolute;
  color: white;
  text-align: center;
  left: 3em;
  top: -0.4em;
  
}

#det{

  top: 0.3em;
  right: 2em;
    position: absolute;
    color: white;
    text-align: center;
}

#sua{

    top: 2.8em;
    right: 2em;
    position: absolute;
    color: white;
    text-align: center;
    position: absolute;

}



#detergentes p{

  margin-top: 15px;
  margin-right: 55px;
  font-size: 13px;
}

#detergentes p>b{

  right: -1em;
  /* margin-left: 9px; */
  /* padding-left: 10px; */
  position: absolute;
}

#bottom-botones{


  opacity: 0;
  margin-top: 2em;

}

#detergentes{

  position: absolute;
  top: 11.5em;
  right: 5em;
}



  


  .paginate i {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #007fff;
    transition: all 0.15s ease;
  }
  .paginate.left {
    right: 62%;
    position: absolute;
    top: 16em;
  }
  .paginate.left i {
    transform-origin: 0% 50%;
  }
  .paginate.left i:first-child {
    transform: translate(0, -1px) rotate(40deg);
  }
  .paginate.left i:last-child {
    transform: translate(0, 1px) rotate(-40deg);
  }
  .paginate.left:hover i:first-child {
    transform: translate(0, -1px) rotate(30deg);
  }
  .paginate.left:hover i:last-child {
    transform: translate(0, 1px) rotate(-30deg);
  }
  .paginate.left:active i:first-child {
    transform: translate(1px, -1px) rotate(25deg);
  }
  .paginate.left:active i:last-child {
    transform: translate(1px, 1px) rotate(-25deg);
  }
  .paginate.left[data-state=disabled] i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled] i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled]:hover i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.left[data-state=disabled]:hover i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
  }
  .paginate.right {
    left: 60%;
    position: absolute;
    top: 16em;
  }
  .paginate.right i {
    transform-origin: 100% 50%;
  }
  .paginate.right i:first-child {
    transform: translate(0, 1px) rotate(40deg);
  }
  .paginate.right i:last-child {
    transform: translate(0, -1px) rotate(-40deg);
  }
  .paginate.right:hover i:first-child {
    transform: translate(0, 1px) rotate(30deg);
  }
  .paginate.right:hover i:last-child {
    transform: translate(0, -1px) rotate(-30deg);
  }
  .paginate.right:active i:first-child {
    transform: translate(1px, 1px) rotate(25deg);
  }
  .paginate.right:active i:last-child {
    transform: translate(1px, -1px) rotate(-25deg);
  }
  .paginate.right[data-state=disabled] i:first-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled] i:last-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled]:hover i:first-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate.right[data-state=disabled]:hover i:last-child {
    transform: translate(5px, 0) rotate(0deg);
  }
  .paginate[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
  }
  
  .counter {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 100%;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: #007fff;

  }


.radioGroup{


  display: grid;
  grid-template-columns: repeat(2,118px);
  grid-gap: 10px 10px;

}


  /*RADIO BUTTONS Temp-Centri*/
.radioGroup input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioGroup label {
    display: inline-block;
    background-color: #ababab;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
    color: white;
}

.radioGroup input[type="radio"]:checked + label {
    background-color:#007fff;
}

.radioGroup input[type="radio"]:focus + label {
    border: .5px dashed #444;
}

.radioGroup label:hover {
  background-color: #1a8cff;
  cursor: pointer;
}

  
/*MODAL*/

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.modal-window > div {
  border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
small {
  color: lightgray;
}
.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}


/* barra tep progress */

#conteneor{

  opacity: 0;

}

  .progressbar {
      margin: 50px 0 50px 0;
      counter-reset: step;
  }
  .progressbar li {
    list-style-type: none;
    width: 16%;
    float: left;
    font-size: 25px;
    position: relative;
    text-align: center;
    font-weight: 500;
    color: #7d7d7d;
  }
  .progressbar li:before {
    width: 30px;
    height: 30px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
  }
  .progressbar li:after {
    width: 100%;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 14px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active{
    color: #55b776;
  
}
  .progressbar li.active:before {
      border-color: #55b776;
      background-color: #55b776;
      transition: all .8s;
  }
  .progressbar li.active:after {
      background-color: #55b776;
      transition: all .8s;
  }
/*
.btn {
  background-color: #55b776;
  margin: 5px;
  width: 75px;
  color: white;
}
.btn:hover {
  color: white;
}
.btn:focus {
  color: white;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}*/
