@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
    min-width: 360px;
    margin: 0;
}


/* ICONO DE LA PUERTA 

.filter-green{
    filter: invert(15%) sepia(89%) saturate(7107%) hue-rotate(3deg) brightness(95%) contrast(116%);

}
*/

img{


    /* padding: 14px 16px; */
    /* font-size: 49px; */
    display: block;
    /* margin-right: 28%; */
    top: .6em;
    right: 13em;
    /* margin: 20% 24% 0 0; */
    position: absolute;
    color: white;
    text-align: center;

}

.navbar{


    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;

}

.navbar li{

    float: left;

}

#hora{


    margin-right: -2.3em;

}

#hora:hover{


    color: white;


}

.navbar li a{

    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;

}

.navbar li a:hover{

    color:blueviolet;

}


.center{
    /*margin: 140px auto;
    width: 50%;*/
    margin: -3em auto;
    width: 95%;
    text-align: center;
    padding: 200px 0;
}

.options{

    display: flex;
    margin: auto;
    width: 25em;
    justify-content: space-between;
    margin-bottom: 50px;
}

.options p{

    margin-right: 10px;
    flex-wrap: nowrap;
    display: flex;

}

.options a{


    padding: 1.5em 5em;
    background: #efefef;
    border: none;
    border-radius: .5rem;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
    text-decoration: none;
  /*  border-right: 1px solid grey;*/


}

.options a:hover{
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
  }
  .options a:active{
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
  }


/*CIRCULO CON PULSO*/

.blob {
    background: white;
    border-radius: 50%;
    border: 5px solid aqua;
    margin: auto;
    height: 350px;
    width: 350px;
    box-shadow: 0 0 0 0 rgb(0 0 0);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.blob p{

    padding-top: 32%;
    font-size: 35px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 35px rgba(0, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
	}
}


/*LISTA FLECHAS*/
.container {
  margin: 0 auto;
  display: block;
  text-align: center;
  justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  width: 90%;
  height: 90vh;
}

.container i {
  padding: 20px;
  display: block;
  font-size: 50px;
  transition: all 0.4s ease;
}

.container i:hover {
  cursor: pointer;
}

.counter {
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba( 0, 0, 0, 0.2 );
  color: #000;
}


/*BOTONES */
/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
  button {
    border: none;
    border-radius: 2px;
    padding: 12px 40px;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
  }
